.all {
  height: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  color: wheat;
}

.star {
  display: flex;
  gap: 20px;
  font-size: 3rem;
  margin-left: 3.5rem;
  color: rgba(121, 94, 94, 0.868);
  cursor: pointer;
}
.color {
  color: rgba(255, 255, 255, 0.785);
}

@media (min-width: 1000px) {
  .all {
    height: 70%;
  }
}
